<div class="container">
    <div class="row">
        <form class="form-horizontal" name="CustomerDetailsForm" novalidate>
            <fieldset>
                <legend>Order Form</legend>

                <div class="table-responsive">
                    <table st-table="entity.selectedPizzas" ng-if="entity.selectedPizzas.length>0" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Price</td>
                                <td>Quantity</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in entity.selectedPizzas">
                                <td>{{item.productName}}</td>
                                <td>{{item.price}}</td>
                                <td>
                                    <input class="form-control" style="display:inline;width:40px;text-align:center;" type="text" ng-model="item.quantity" placeholder="Quantity" />
                                </td>
                                <td>
                                    <button type="button" ng-click="remove($index)" class="btn btn-danger">
                                        <i class="glyphicon glyphicon-remove-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group"
                     ng-class="{'has-error':CustomerDetailsForm.customerName.$invalid &&
                                            CustomerDetailsForm.customerName.$dirty}">
                    <label for="nameTxt" class="col-sm-2 control-label">Customer Name</label>
                    <div class="col-sm-4">
                        <input class="form-control"
                               autofocus
                               type="text"
                               id="nameTxt"
                               name="customerName"
                               placeholder="Customer Name"
                               ng-model="entity.customer.name"
                               required
                               ng-minlength="4"
                               ng-maxlength="12" />
                    </div>
                    <span class="help-block has-error">
                        <span ng-show="CustomerDetailsForm.customerName.$error.required">Name is required.</span>
                        <span ng-show="CustomerDetailsForm.customerName.$error.minlength">Need atlest 4 characters.</span>
                        <span ng-show="CustomerDetailsForm.customerName.$error.maxlength">Can not exceed more than 12 characters.</span>
                    </span>
                    <!-- <span class="help-block has-error" ng-show="CustomerDetailsForm.customerName.$invalid">Name is required.</span>-->
                </div>
                <div class="form-group"
                     ng-class="{'has-error':CustomerDetailsForm.mobileNumber.$invalid &&
                                            CustomerDetailsForm.mobileNumber.$dirty}">
                    <label for="phoneNumberTxt" class="col-sm-2 control-label">Mobile </label>
                    <div class="col-sm-4">
                        <input type="text"
                               id="phoneNumberTxt"
                               class="form-control"
                               placeholder="Mobile"
                               name="mobileNumber"
                               onkeypress='return (event.charCode >= 48 || event.keyCode>=48) && (event.charCode <= 57 ||event.keyCode<=57)'
                               ng-model="entity.customer.mobileNumber"
                               ng-pattern="/(7|8|9)/" 
                               ng-minlength="10"
                               ng-maxlength="10"
                               required /><!--ng-pattern="regexMobileNumber" other useful patterns : "/^(7|8|9)\d{9}$/" --> 
                    </div>
                    <span class="help-block has-error">
                        <span ng-show="CustomerDetailsForm.mobileNumber.$error.pattern">Not a valid number.</span>
                        <span ng-show="CustomerDetailsForm.mobileNumber.$error.required">Mobile number is required.</span>
                        <span ng-show="CustomerDetailsForm.mobileNumber.$error.minlength">Need atlest 10 digits.</span>
                        <span ng-show="CustomerDetailsForm.mobileNumber.$error.maxlength">Can not exceed more than 10 digits.</span>
                    </span>
                </div>
                <div class="form-group"
                     ng-class="{'has-error':CustomerDetailsForm.address.$invalid &&
                                            CustomerDetailsForm.address.$dirty}">
                    <label class="col-sm-2 control-label" for="addressTxt">Address</label>
                    <div class="col-sm-6">
                        <input class="form-control"
                               type="text"
                               id="addressTxt"
                               placeholder="Address"
                               name="address"
                               ng-model="entity.customer.address"
                               required />
                    </div>
                    <span class="help-block has-error" ng-show="CustomerDetailsForm.address.$invalid"></span>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span style="width:80px;margin-right:10px;">
                            <button class="btn btn-primary"
                                    ng-disabled="CustomerDetailsForm.$invalid"
                                    ng-click="submit(entity)">
                                Submit
                            </button>
                        </span>
                        <span style="width:70px;">
                            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>