<div class="container">
    <div class="row">
        <!--<div class="jumbotron">
            <h2>Yay!! We go here</h2>
        </div>-->
        <h2>Yay!! We go here</h2>
        <span class="col-sm-6 col-lg-3" ng-repeat="item in products">
            <p>{{item.productId}}</p>
            <p>{{item.description}}</p><br />
            <p>{{item.price}}</p>
            <!--<p><a class="btn btn-default" href="#" role="button">Add to Cart</a></p>-->
        </span>
        <div>
            <button class="btn btn-default">Add to Cart</button>
        </div>
    </div>
</div>