<div class="container">
    <div class="row">
        <form class="form-inline" name="loginForm" novalidate>
            <div class="form-group" ng-class="{'has-error':loginForm.userName.$invalid && loginForm.userName.$dirty} ">
                <label for="userNameId" class="sr-only">User Name</label>
                <input type="text" id="userNameId" class="form-control" placeholder="User Name" name="userName"
                       ng-model="entity.userName" required />
                <span class="help-block has-error" ng-show="loginForm.userName.$invalid && loginForm.userName.$dirty">User Name is required</span>
            </div>
            <div class="form-group" ng-class="{'has-error':loginForm.password.$invalid && loginForm.password.$dirty}">
                <label for="passwordId" class="sr-only">Password</label>
                <input type="password" id="userNameId" class="form-control" placeholder="Password" name="password"
                       ng-model="entity.password" required />
                <span class="help-block has-error" ng-show="loginForm.password.$invalid && loginForm.password.$dirty">Password is required</span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="entity.onSubmit()">Submit</button>
                <button type="button" class="btn btn-danger" ng-click="entity.onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>