<div class="container">
    <div class="row">
        <h2 style="font-family:'Comic Sans MS';font-size:medium">Thank you {{model.customerName}}</h2>
        <span style="font-family:'Times New Roman';font-size:medium"> order will reach you within an hour.</span>
    </div>
    <div class="row">
        <table class="table table-hover table-striped table-bordered table-responsive" style="width:90%;text-align:center;margin-left:25px;border:2px solid #34495E">
            <thead>
                <tr>
                    <th>Ordered Date</th>
                    <th>Customer Name</th>
                    <th>Mobile Number</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{model.orderedDate|date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td>{{model.customerName}}</td>
                    <td>{{model.mobileNumber}}</td>
                    <td>{{model.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>